<h1>Borçlar Listesi</h1>

<table>
  <thead>
    <tr>
      <th>**Toplam Borç** </th>
      <th>**Ödenen Borç**</th>
      <th>**Kalan Borç**</th>
      <th>**Aldığı Tarih**</th>
      <th>**Ödeme Tarihi**</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @debts.each do |debt| %>
      <tr>
        <td><%= debt.total %></td>
        <td><%= debt.paid %></td>
        <td><%= debt.payable %></td>
        <td><%= debt.total %></td>
        <td><%= debt.date_of_issue %></td>
        <td><%= debt.payable_date %></td>
        <td><%= link_to '  Göster', debt %></td>
        <td><%= link_to 'Düzenle', edit_debt_path(debt) %></td>
        <td><%= link_to 'Sil', debt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h3><%= link_to 'Yeni Borç', new_debt_path %></h3>
<br>
