<p id="notice"><%= notice %></p>


<p>
  <h4><font color="green">Toplam:</font>
  <%= @debt.total %></h4>
</p>

<p>
  <h4><font color="green">Ödenen:</font>
  <%= @debt.paid %></h4>
<p>
  <h4><font color="green">Ödenecek:</font>
  <%= @debt.total - @debt.paid %></h4>
</p>

<p>
  <h4><font color="green">Borçlanan Tarih:</font>
  <%= @debt.date_of_issue %></h4>
</p>

<p>
  <h4><font color="green">Ödenecek Tarih:</font>
  <%= @debt.payable_date %></h4>
</p>
<p>

  <% tarih2=@debt.payable_date %>
  <% tarih=DateTime.now.to_date %>
  <% fark =tarih2-tarih %>
  <% fark =fark.to_i %>
  <h4><font color="green">Borcu Ödemesi için Kalan Gün:</font>
  <% if (fark < 0) %> 
    <%= fark*-1  %>  gündür borcunuz gecikiyor</h4>
  <% end %>
 <%= fark %></h4>
</p>
<br>
<%= link_to 'Düzenle', edit_debt_path(@debt) %> |
<%= link_to 'Geri', debts_path %><br><br>
