<h1>Borçlu Listesi</h1>

<table>
  <thead>
    <tr>
      <th> **Adı**  </th>
      <th>**Email Adresi**</th>
      <th>**Sırası**</th>
      <th>**Twitter Kullanıcı Adı**</th>
      <th colspan="38"></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><%= friend.name %></td>
        <td><%= friend.email %></td>
        <td><%= friend.user_id %></td>
        <td><%= friend.twitter_username %></td>
        <td><%= link_to 'Göster', friend %></td>
        <td><%= link_to 'Düzenle', edit_friend_path(friend) %></td>
        <td><%= link_to 'Sil', friend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Yeni Borçlu Ekle', new_friend_path %>
