<br><br><div style="background: #ddFFCC; padding: 10px 5px; ">

<br><br><h1><font color="#006400">Borçlu Listesi</font></h1>
<br><br>
<table border=”1″  cellpadding="10" bordercolor=”red” width="933" bgcolor="#bbffaa">
  <thead>
    <tr>
      <th><h4> <font color="#006400"> Adı  </h4></font></th>
      <th><h4><font color="#006400"> Email Adresi  </h4></th>
      <th><h4><font color="#006400"> Sırası </th>
      <th><h4><font color="#006400"> Twitter Kullanıcı Adı  </h4></th>
      <th colspan="38"><h4><font color="#006400">Seçenekler</h4></th>
    </tr>
  </thead>

  <tbody>
    <% @friends.each do |friend| %>
      <tr>
        <td><h5><%= friend.name %></h5></td>
        <td><h5><%= friend.email %></h5></td>
        <td><h5><%= friend.user_id %></h5></td>
        <td><h5><%= friend.twitter_username %></h5></td>
        <td><%= link_to 'Göster', friend %></td>
        <td><%= link_to 'Düzenle', edit_friend_path(friend) %></td>
        <td><%= link_to 'Sil', friend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br><br>

<%= link_to 'Yeni Borçlu Ekle', new_friend_path %>

<br><br>
</div>
