<p id="notice"><%= notice %></p>

<p>
  <strong>Adı, Soyadı::</strong>
  <%= @friend.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @friend.email %>
</p>

<p>
  <strong>Sırası:</strong>
  <%= @friend.user_id %>
</p>

<p>
  <strong>Twitter Kullanıcı Adı:</strong>
  <%= @friend.twitter_username %>
</p>

<%= link_to 'Düzenle', edit_friend_path(@friend) %> |
<%= link_to 'Geri', friends_path %>
